<%= content_for(:title) { 'Задать курс' } %>
<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Задать курс</h3>

        <%= render 'shared/flash' %>
        <%= render 'shared/model_errors', res: @rate %>

        <fieldset>
          <%= form_for [:admin, @rate] do |f|%>
            <div class="form-group">
              <%= f.label :value %>
              <%= f.number_field :value, min: 0, step: :any, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :expire_at %>
              <%= bootstrap_datetime_picker(f, :expire_at, 'datetimepicker') %>
            </div>
            <div class="form-group">
              <%= time_zone_select( "user", "time_zone", nil, {}, { class: 'form-control' }) %>
            </div>
            <%= f.submit class: 'btn btn-lg btn-primary btn-block' %>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<script>

$(document).ready(function(){
  $('#user_time_zone').set_timezone({format: 'city'});

  ar = $('#rate_expire_at').val().split(/\.|[\s]|:/)
  if(ar.length == 5) {
    ar[3] = (Number(ar[3]) - (new Date()).getTimezoneOffset()/60).toString()
    $('#rate_expire_at').val(ar[0]+'.'+ar[1]+'.'+ar[2]+' '+ar[3]+':'+ar[4])
  }
});
</script>